In [1]:
# Importing the Needed Dependencies
import warnings
from warnings import simplefilter
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
import os
import csv
from pprint import pprint
from pathlib import Path

In [2]:
# Create reference to CSV file
csv_path = Path("../output_data/ETL/csv/ETL_credit_data.csv")

# Import the CSV into a pandas DataFrame
credit_data_df = pd.read_csv(csv_path)

# Display dataframe
credit_data_df.head()

,Current Loan Amount,Credit Score,Annual Income,Monthly Income,Monthly Debt,Debt / Income Ratio,Credit History(Years),Months Delinquent,Open Accounts,Credit Problems,Credit Balance,Total Credit,Credit Usage Ratio,Bankruptcies
0,611314,747.0,2074116.0,172843.00,42000.83,0.243000,21.8,0.0,9,0,621908,1058970,0.587276,0.0
1,266662,734.0,1919190.0,159932.50,36624.40,0.228999,19.4,0.0,11,0,679573,904442,0.751373,0.0
2,153494,709.0,871112.0,72592.67,8391.73,0.115600,12.5,10.0,10,0,38532,388036,0.099300,0.0
3,176242,727.0,780083.0,65006.92,16771.87,0.258001,16.5,27.0,16,1,156940,531322,0.295376,1.0
4,321992,744.0,1761148.0,146762.33,39478.77,0.268998,26.0,44.0,14,0,359765,468072,0.768610,0.0

In [3]:
# renaming "0" to "No" and "1" to "Yes" in the "Bankruptcies" column
credit_data_df['Bankruptcies'] = credit_data_df['Bankruptcies'].replace({0: 'No'})
credit_data_df['Bankruptcies'] = credit_data_df['Bankruptcies'].replace({1: 'Yes'})
credit_data_df

,Current Loan Amount,Credit Score,Annual Income,Monthly Income,Monthly Debt,Debt / Income Ratio,Credit History(Years),Months Delinquent,Open Accounts,Credit Problems,Credit Balance,Total Credit,Credit Usage Ratio,Bankruptcies
0,611314,747.0,2074116.0,172843.00,42000.83,0.243000,21.8,0.0,9,0,621908,1058970,0.587276,No
1,266662,734.0,1919190.0,159932.50,36624.40,0.228999,19.4,0.0,11,0,679573,904442,0.751373,No
2,153494,709.0,871112.0,72592.67,8391.73,0.115600,12.5,10.0,10,0,38532,388036,0.099300,No
3,176242,727.0,780083.0,65006.92,16771.87,0.258001,16.5,27.0,16,1,156940,531322,0.295376,Yes
4,321992,744.0,1761148.0,146762.33,39478.77,0.268998,26.0,44.0,14,0,359765,468072,0.768610,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,157806,731.0,1514376.0,126198.00,4795.41,0.037999,12.5,0.0,9,0,87058,234410,0.371392,No
9989,132550,718.0,763192.0,63599.33,12401.87,0.195000,9.9,20.0,8,0,74309,329692,0.225389,No
9990,223212,0.0,0.0,0.00,4354.42,0.000000,27.2,0.0,8,1,99636,568370,0.175301,Yes
9991,99999999,721.0,972097.0,81008.08,12232.20,0.151000,16.8,24.0,8,1,184984,240658,0.768659,No
9992,99999999,748.0,1079960.0,89996.67,12239.61,0.136001,19.7,0.0,14,0,179018,607882,0.294495,No

In [4]:
# Export the newly transformed dataframe into a csv
credit_data_df.to_csv("../output_data/ETL/csv/ETL_Visualizations_credit_data.csv", index=False)